body {
    width: 100%;
    color: #001900;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 50px;
    margin-bottom: 0;
}

h2 {
    margin: 16px;
}

.card {
    margin: auto;
    margin-top: 0;
    border-radius: 50px;
    width: 350px
}

#greencard {
    background-color: #50C878;
}

#title {
    margin: 0;
    margin-top: 2vh;
    padding-top: 4vh;
}

#symbol {
    font-weight: 900;
    position: relative;
    bottom: 30px;
    left: 3px;
    font-size: 45px;
    margin: 0;
    height: 30px;
}

#syllables {
    margin: 16px;
}

hr {
    border-color: #022419;
}

p {
    text-align: justify;
}

input {
    padding: 0;
    margin: 0;
    border-radius: 2px;
    text-align: center;
    font-size: x-large;
    height: 6vh;
    width: 6.5vh;
    background-color: whitesmoke;
}

button {
    color: whitesmoke;
    background-color: #18673a;
    margin-bottom: 2vh;
    border-radius: 50px;
    border-style: none;
    font-size: medium;
    font-weight: 900;
    height: 5vh;
    width: 100px;
}

button:active {
    color: #2E8B57;
    background-color: whitesmoke;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonbox {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 225px;
}

#slotOne {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    caret-color: transparent;
    padding-right: 5px;
    text-align: right;
    width: 115px;
}

#slotThree {
    border-top-right-radius: 50px;
    caret-color: transparent;
    border-bottom-right-radius: 50px;
    padding-left: 5px;
    text-align: left;
    width: 115px
}

.answer {
    width: 350px;
    height: 30px;
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: baseline;
    text-align: left;
}

.word {
    font-size: large;
    padding-right: 2%;
    margin-bottom: 0;
}

.partofspeech {
    font-size: small;
    padding-right: 2%;
}

.definition {
    width: 350px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: left;
    font-style: italic;
    font-size: small;
}

.results {
    margin: auto;
    margin-top: 15px;
    height: 310px;
    width: 325px;
}

.obscure, .golden {
    padding: 4px;
    margin: 0;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 12px;
}

.obscure {
    color: white;
}

.golden {
    color: #423c6d;
}

#definition8 {
    padding-bottom: 3vh;
}

.rules {
    margin: auto;
    width: 350px;
    text-align: left;
}

#htp {
    margin: auto;
    margin-top: 20px;
    width: fit-content;
    text-align: center;
}

.inputs-htp {
    width: 24%;
    font-size: x-large;
    text-align: right;
    padding-right: 8px;
}

.inputs-htp2 {
    width: 14%;
    font-size: x-large;
}

.inputs-htp3 {
    width: 24%;
    font-size: x-large;
    text-align: left;
    padding-left: 8px;
}

#syllable-htp {
    text-align: center;
}

#levels {
    width: 350px;
    margin: auto;
    text-align: center;
}

.levelButton {
    color: white;
    margin: 5px;
    background-color: #18673a;
    border-radius: 50px;
    width: 60px;
    height: 40px;
}

#keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
#keyboard-cont div {
    display: flex;
}
  
.second-row {
    margin: 0.5rem 0;
}
  
.keyboard-button {
    margin: 0px 2px;
    border-radius: 5px;
    width: 28px;
    cursor: pointer;
    text-transform: lowercase;
}

#message {
    margin: 5px;
}