body {
    width: 100%;
    color: #001900;
    background-color: #E0C6AD;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 50px;
    margin-bottom: 0;
}

h2.word {
    margin: 0px;
    margin-right: 10px;
    font-style: italic;
}

.card {
    margin: auto;
    margin-top: 0;
    border-radius: 50px;
    width: 350px
}

#title {
    margin: 0;
    padding-top: 3vh;
}

#symbol {
    font-weight: 100;
    position: relative;
    bottom: 30px;
    left: 3px;
    font-size: 45px;
    margin: 0;
    height: 30px;
}

#syllables {
    margin: 16px;
}

hr {
    border-color: #C1B2A2;
}

p {
    text-align: justify;
}

.answerbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.answerboxes {
    padding: 0px 2px;
    margin: auto;
    text-align: center;
    font-size: x-large;
    line-height: 4.5vh;
    height: 4.5vh;
    background-color: whitesmoke;
}

button {
    color: whitesmoke;
    background-color: #704F38;
    margin-bottom: 1vh;
    border-radius: 50px;
    border-style: none;
    font-size: medium;
    font-weight: 900;
    text-align: center;
    height: 30px;
    width: 100px;
}

button:active {
    color: #2E8B57;
    background-color: whitesmoke;
}

.inputselector {
    margin: 0px 5px 0px 5px;
    font-size: medium;
    border-radius: 5px;
    height: 35px;
    width: 150px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonbox {
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 315px;
}

#slotOne {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    caret-color: transparent;
    text-align: right;
    width: 140px;
    padding-left: 10px;
}

#slotTwo {
    padding: 0px 5px;
}

#slotThree {
    border-top-right-radius: 5px;
    caret-color: transparent;
    border-bottom-right-radius: 5px;
    text-align: left;
    width: 140px;
    padding-right: 10px;
}

#slotOneEx {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    caret-color: transparent;
    text-align: right;
    width: 140px;
    padding-left: 10px;
}

#slotTwoEx {
    padding: 0px 5px;
}

#slotThreeEx {
    border-top-right-radius: 5px;
    caret-color: transparent;
    border-bottom-right-radius: 5px;
    text-align: left;
    width: 140px;
    padding-right: 10px;
}

.answer {
    width: 350px;
    height: 25px;
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: baseline;
    text-align: left;
}

.word {
    font-size: 16px;
    padding-right: 1%;
    margin: 15px 2px 5px 6px;
}

.results {
    margin: auto;
    margin-top: 0;
    height: 200px;
    width: 315px;
}

.obscure, .golden {
    padding: 2.5px;
    margin: 0;
    margin-right: 4px;
    border-radius: 4px;
    font-size: 10px;
    position: relative;
    bottom: 3px;
}

.obscure {
    background-color: rebeccapurple;
    color: white;
}

.golden {
    background-color: goldenrod;
    color: black;
}

.rules {
    margin: auto;
    width: 330px;
    text-align: left;
}

#htp {
    margin: auto;
    margin-top: 20px;
    width: fit-content;
    text-align: center;
}

.inputs-htp3 {
    width: 24%;
    text-align: left;
    padding-left: 8px;
}

#syllable-htp {
    text-align: center;
}

#levels {
    width: 350px;
    margin: auto;
    text-align: center;
}

.levelButton {
    color: white;
    margin: 5px;
    border-radius: 50px;
    width: 60px;
    height: 40px;
}

#keyboard-cont {
    margin: .5rem 0rem .6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
#keyboard-cont div {
    display: flex;
}
  
.second-row {
    margin: 0.5rem 0;
}
  
.keyboard-button {
    margin: 0px 2px;
    border-radius: 5px;
    width: 28px;
    height: 40px;
    cursor: pointer;
    text-transform: lowercase;
}

#message {
    margin: 5px;
}